/**
 * @package      YJSG Framework
 * @copyright    Copyright(C) since 2007  Youjoomla.com. All Rights Reserved.
 * @author       YouJoomla
 * @license      http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 * @websites     http://www.youjoomla.com | http://www.yjsimplegrid.com
 */
/* a transition */
a {
	-o-transition:color .2s ease-in-out;
	-ms-transition:color .2s ease-in-out;
	-moz-transition:color .2s ease-in-out;
	-webkit-transition:color .2s ease-in-out;
	transition:color .2s ease-in-out;
}
/* image */
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	border: 0;
}
/* Image Effects */
.yjt_imgs {
	display:inline-block;
	overflow:hidden;
	text-indent:0;
	line-height:0;
	letter-spacing:0;
	vertical-align:middle;
	max-width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin:0 7.5px 15px 7.5px;
}
.yjt_imgs img {
	-webkit-border-radius:inherit;
	-khtml-border-radius:inherit;
	-moz-border-radius:inherit;
	border-radius:inherit;
}
/* Polaroid */
.yjt_polaroid {
	-webkit-box-shadow:0 0 8px #e2e2e2;
	-khtml-box-shadow:0 0 8px #e2e2e2;
	-moz-box-shadow:0 0 8px #e2e2e2;
	box-shadow:0 0 8px #e2e2e2;
	position:relative;
	overflow:hidden;
	display:inline-block;
	padding:10px;
	border:1px solid #e2e2e2;
	background:#fff;
	text-align:center;
}
.yjt_polaroid:after {
	content:attr(title);
	display:block;
	clear:both;
	text-align:center;
	font-size:20px;
	line-height:28px;
	margin-top:10px;
	margin-bottom:10px;
	font-weight:normal;
}
.yjt_polaroid.yjt_hideptitle:after {
	display:none;
}
.yjt_polaroid img {
	-webkit-border-radius:0px;
	-khtml-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
}
/* Tilt hover */
.yjt_tilt:hover {
	transform:rotate(2deg);
	-ms-transform:rotate(2deg);
	-moz-transform:rotate(2deg);
	-webkit-transform:rotate(2deg);
	-o-transform:rotate(2deg);
}
/* Polaroid group */
.yjt_polaroid.yjt_group:nth-child(even) {
	transform:rotate(2deg);
	-ms-transform:rotate(2deg);
	-moz-transform:rotate(2deg);
	-webkit-transform:rotate(2deg);
	-o-transform:rotate(2deg);
}
.yjt_polaroid.yjt_group:nth-child(odd) {
	transform:rotate(-2deg);
	-ms-transform:rotate(-2deg);
	-moz-transform:rotate(-2deg);
	-webkit-transform:rotate(-2deg);
	-o-transform:rotate(-2deg);
}
.yjt_polaroid.yjt_group:nth-child(even):hover,
.yjt_polaroid.yjt_group:nth-child(odd):hover {
	transform:rotate(0);
	-ms-transform:rotate(0);
	-moz-transform:rotate(0);
	-webkit-transform:rotate(0);
	-o-transform:rotate(0);
}
/* Morph */
.yjt_morph {
	-webkit-border-radius:0px;
	-khtml-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	-ms-transition:1s;
}
.yjt_morph:hover {
	-webkit-box-shadow:0 0 8px #ccc;
	-khtml-box-shadow:0 0 8px #ccc;
	-moz-box-shadow:0 0 8px #ccc;
	box-shadow:0 0 8px #ccc;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
/* IMAGE BORDERS */
.bthin {
	border:1px solid #e2e2e2;
}
.bthick {
	border:5px solid #e2e2e2;
}
.bspace,
.bspacethick {
	border:1px solid #e2e2e2;
	background:#fff;
	padding:5px;
}
.bspacethick {
	border-width:5px;
}
/* Boxes */
.yjtbox {
	padding:15px;
	margin:10px 0;
	overflow:hidden;
	position:relative;
	display:block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width:100%;
	height:auto;
	line-height:inherit;
	font-family:inherit;
	font-size:inherit;
	word-wrap: break-word;
}
.yjtbox .yjtboxtitle {
	margin:0 0 15px 0;
	padding:0;
	font-size:150%;
	line-height:1.1;
}
/* box icons */
.yjtbox.lineup {
	display:table;
	width:100%;
}
.yjtboxicon {
	display:table-cell;
	font-size:30px;
	width:30px;
	vertical-align:top;
	line-height:1.1;
}
.yjtboxicon.imid {
	vertical-align:middle;
}
.yjtboxicon.ibot {
	vertical-align:bottom;
}
.yjtboxicon:before {
	margin:0 15px 30px 0;
	line-height:1.1;
}
.yjtboxicon.fa-lg:before {
	width:50px;
	font-size:50px;
	line-height:1;
}
/* close box */
.yjtb_close {
	display:block;
	position:absolute;
	cursor:pointer;
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	text-decoration: inherit;
	top:5px;
	right:5px;
	width:20px;
	height:20px;
}
.yjtb_close:before {
	content: "\f05c";
	font-size:20px;
}
/* boxes colors */
.yjtb_red {
	background:#fdf7f7;
	border-style:solid;
	border-color:#fbe0e0;
	border-width:1px;
	color:#cc4440;
}
.yjtb_red .yjtboxtitle {
	color:#cc4440;
}
.yjtb_green {
	background:#f1ffeb;
	border-style:solid;
	border-color:#cee6c5;
	border-width:1px;
	color:#75a362;
}
.yjtb_green .yjtboxtitle {
	color:#75a362;
}
.yjtb_blue {
	background:#e9f6fd;
	border-style:solid;
	border-color:#b6e3f3;
	border-width:1px;
	color:#5497ae;
}
.yjtb_blue .yjtboxtitle {
	color:#5497ae;
}
.yjtb_yellow {
	background:#fffdf3;
	border-style:solid;
	border-color:#f7cca2;
	border-width:1px;
	color:#ce7113;
}
.yjtb_yellow .yjtboxtitle {
	color:#ce7113;
}
.yjtb_gray {
	background:#f7f7f7;
	border-style:solid;
	border-color:#e9e9e9;
	border-width:1px;
	color:#868686;
}
.yjtb_gray .yjtboxtitle {
	color:#868686;
}
.yjtb_dark {
	background:#454545;
	border-style:solid;
	border-color:#000;
	border-width:1px;
	color:#dbdbdb;
}
.yjtb_dark .yjtboxtitle {
	color:#dbdbdb;
}
.yjtb_dark .yjtb_close {
	color:#000;
}
.yjtb_clear {
	background:none;
	border-style:solid;
	border-color:#e9e9e9;
	border-width:1px;
}
.yjtb_clear .yjtb_close {
	color:#868686;
}
/* Borders */
.yjtbox.dashedb {
	border-style:dashed!Important;
	border-width:2px!Important;
}
.yjtbox.dottedb {
	border-style:dotted!Important;
	border-width:2px!Important;
}
.yjtbox.doubleb {
	border-style:double!Important;
	border-width:5px!Important;
}
.yjtbox.bordernone {
	border:none!Important;
	border-style:none!Important;
}
/* labels */
[class*='yjt_label'] {
 display: inline;
 padding:2px 5px;
 font-size: 85%;
 font-weight: 700;
 line-height: 1;
 text-align: center;
 white-space: nowrap;
 vertical-align: baseline;
 border-radius: .25em;
}
/* Border radius */
.radiusb2 {
	-webkit-border-radius:2px;
	-khtml-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.radiusb3 {
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.radiusb4 {
	-webkit-border-radius:4px;
	-khtml-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.radiusb5 {
	-webkit-border-radius:6px;
	-khtml-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
}
.radiusb6 {
	-webkit-border-radius:6px;
	-khtml-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
}
.radiusb7 {
	-webkit-border-radius:7px;
	-khtml-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px;
}
.radiusb8 {
	-webkit-border-radius:8px;
	-khtml-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
}
.radiusb9 {
	-webkit-border-radius:9px;
	-khtml-border-radius:9px;
	-moz-border-radius:9px;
	border-radius:9px;
}
.radiusb10 {
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
/* lists */
ul.unstyled {
	list-style:none;
	padding-left:0;
}
ul.unstyled ul {
	list-style:none;
}
/* Icon list */
.yjt_iconlist li {
	font-family:inherit;
	background:none;
	width:auto;
}
.yjt_iconlist li:before {
	font-family:'FontAwesome';
	margin-right:10px;
	font-size:14px;
}
ul.video li,
ul.check li,
ul.star li {
	list-style-image:none;
	list-style-type:none;
	background:none;
}
ul.star li {
	background:none;
}
ul.star li:before,
ul.video li:before,
ul.check li:before {
	font-family:'FontAwesome';
	font-size:14px;
	margin-right:10px;
}
ul.star li:before {
	content:"\f005";
	color:#fc9220;
}
ul.video li:before {
	content:"\f03d";
	color:#323232;
}
ul.check li:before {
	content:"\f00c";
	color:#779c40;
}
/* yjsg media */
.yjsg-media {
	display:block;
	margin:0 auto;
	text-align:center;
}
.yjsg-media-respond .me-plugin,
.yjsg-media-respond .me__plugin{
	top:0;
	left:0;
}
.yjsg-media-respond,
.yjsg-media-respond .me-plugin,
.yjsg-media-respond .mejs-mediaelement,
.yjsg-media-respond .mejs-inner,
.yjsg-media-respond .me__plugin,
.yjsg-media-respond .mejs__mediaelement,
.yjsg-media-respond .mejs__inner  {
	width:100%;
	height:100%;
	max-width:100%;
}
.yjsg-vimeo .mejs-controls,
.yjsg-vimeo .mejs__controls {
	display:none!important;
}
.yjsg-media-respond .mejs-poster,
.yjsg-media-respond .mejs__poster {
	background-image:none!important;
}
/* dropcaps */
.dropcap,
.dropcap2,
.dropcap3,
.dropcap4 {
	float:left;
	padding:4px 8px 0px 0;
	display:block;
	font-family:Georgia, Times, serif;
	font-size:50px;
	line-height:40px;
}
.dropcap2 {
	font-weight: bold;
}
.dropcap3,
.dropcap4 {
	background-color: #F7F7F9;
	border: 1px solid #E1E1E8;
	text-align:center;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	display:inline-block;
	width:50px;
	height:50px;
	padding:0;
	vertical-align:middle;
	line-height:50px;
	margin:5px 10px 0 0;
}
.dropcap4 {
	-webkit-border-radius:50px;
	-khtml-border-radius:50px;
	-moz-border-radius:50px;
	border-radius:50px;
	margin:3px 10px 0 0;
}
/* blockquotes */
blockquote {
	display:block;
	position:relative;
	overflow:hidden;
	padding: 0 0 0 15px;
	margin: 0 0 20px;
	border-left: 5px solid #eeeeee;
}
blockquote p {
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
}
blockquote small {
	display: block;
	line-height: 20px;
	color: #999999;
}
blockquote small:before {
	content: '\2014 \00A0';
}
blockquote.pull-right {
	float: right;
	padding-right: 15px;
	padding-left: 0;
	border-right: 5px solid #eeeeee;
	border-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small {
	text-align: right;
}
blockquote.pull-right small:before {
	content: '';
}
blockquote.pull-right small:after {
	content: '\00A0 \2014';
}
q:before,
q:after,
blockquote:before,
blockquote:after {
	content: "";
}
blockquote.quoted,
blockquote.brackets {
	border:none;
	padding:0 25px;
}
blockquote.quoted:before,
blockquote.quoted:after,
blockquote.brackets:before,
blockquote.brackets:after {
	content: "\201C";
	position:absolute;
	top:0px;
	left:0px;
	font-size:40px;
	line-height:45px;
	font-weight:bold;
	font-family: Georgia, serif;
}
blockquote.quoted:after,
blockquote.brackets:after {
	content: "\201D";
	top:auto;
	left:auto;
	right:0;
	bottom:0px;
}
blockquote.brackets:before {
	content: "\007B";
}
blockquote.brackets:after {
	content: "\007D";
	bottom:0px;
}
/* big numbers */
.blocknumber {
	padding:10px 0 0 65px;
	display:block;
	position:relative;
	margin:15px 0;
	font-size:120%;
	line-height:23px;
	min-height:50px;
}
.bignumber {
	padding:10px;
	display:block;
	position:absolute;
	top:0px;
	left:0;
	font-weight:bold;
	font-family:Arial, sans-serif;
	font-size:23px;
	line-height:23px;
	height:23px;
	text-align:center;
	width:25px;
	color:#e7e7e7;
}
.bnround .bignumber {
	-webkit-border-radius:50%;
	-khtml-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	border:3px solid #e7e7e7;
}
/* additional */
.muted {
	color: #999999;
}
.text-warning {
	color: #c09853;
}
a.text-warning:hover {
	color: #a47e3c;
}
.text-error {
	color: #b94a48;
}
a.text-error:hover {
	color: #953b39;
}
.text-info {
	color: #3a87ad;
}
a.text-info:hover {
	color: #2d6987;
}
.text-success {
	color: #468847;
}
a.text-success:hover {
	color: #356635;
}
abbr[title],
abbr[data-original-title] {
	cursor: help;
	border-bottom: 1px dotted #999999;
}
abbr.initialism {
	font-size: 90%;
	text-transform: uppercase;
}
address {
	display: block;
	margin-bottom: 20px;
	font-style: normal;
	line-height: 20px;
}
/* helper classes */
.yjsg-center,
.yjsgcenter {
	text-align:center;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.yjsg-text-left {
	text-align:left;
	display:block;
}
.yjsg-text-right {
	display:block;
	text-align:right;
}
.yjsg-pull-left {
	float:left;
}
.yjsg-pull-right,
.pull-right {
	float:right;
}
.yjsg-hide,
.yjsg-form label.yjsg-hide {
	display:none;
}
.yjsg-clear-all {
	clear:both;
	overflow:hidden;
	display:table;
}
.invalid {
	color:red;
}
.yjsg-larger {
	font-size:130%;
	line-height:1.818;
}
.yjsg-font-mega,
.yjsg-font-jumbo {
	font-size:400%;
	margin-top:0;
	margin-bottom:0;
}
.yjsg-font-mega {
	font-size:700%;
}
.yjsg-sub-heading {
	display:table;
	clear:both;
	float:none;
	padding:0 0 3px 0;
	margin:15px 0;
	font-size:130%;
	font-weight:normal;
	line-height:normal;
	border:none;
	border-bottom-width:2px;
	border-bottom-style:solid;
}
/* horizontal dividers */
[class*='yjsg-hr-'] {
 display:block;
 margin:20px auto;
 height:20px;
 line-height:20px;
 clear:both;
 text-align:center;
 vertical-align:top;
 position:relative;
 float:none;
 overflow:hidden;
}
[class*='yjsg-hr-small'] {
 max-width:35%;
}
[class*='yjsg-hr-large'] {
 max-width:70%;
}
[class*='-hrsolid']:after,
[class*='-hrdashed']:after,
[class*='-hrdotted']:after {
	content:"";
	border:none;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#ddd;
	display:block;
	height:10px;
	width:100%;
	line-height:10px;
	overflow:hidden;
	position:absolute;
	top:0px;
}
[class*='-hrdashed']:after,
[class*='-hrdotted']:after {
	border:none;
	color:#ccc;
	top:4px;
	content:"----------------------------------------------------------------------------------------------------------------------------------------------------------";
	letter-spacing:8px;
}
[class*='-hrdotted']:after {
	top:1px;
	content:"............................................................................................................................................................";
}
[class*='-hrcircle']:before {
	content:"";
	display:block;
	position:absolute;
	left:50%;
	z-index:10;
	height:10px;
	width:10px;
	border:2px solid #ddd;
	background:#fff;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	margin-top:5px;
	margin-left:-5px;
}
[class*='yjsg-hr-'].fa {
	font-family:'FontAwesome';
}
[class*='yjsg-hr-'].fa:before {
	position:absolute;
	left:50%;
	margin-left:-12px;
	width:24px;
	height:14px;
	z-index:10;
	font-size:14px;
	color:#ddd;
	background:#fff;
	padding-left:5px;
	padding-right:5px;
}
[class*='famedium'].fa:before {
	margin-left:-15px;
	width:30px;
	height:20px;
	font-size:20px;
}
[class*='falarge'] {
 height:28px;
 line-height:28px;
}
[class*='falarge'].fa:before {
	margin-left:-19px;
	width:38px;
	height:28px;
	font-size:28px;
}
[class*='-hrsolid'].falarge:after,
[class*='-hrdashed'].falarge:after,
[class*='-hrdotted'].falarge:after {
	height:14px;
	line-height:14px;
}
[class*='yjsg-hr-'][class*='-left']:before,
[class*='yjsg-hr-'][class*='-left'].fa:before {
	left:0;
	right:auto;
	margin-left:0;
	padding-left:0;
}
[class*='yjsg-hr-'][class*='-right']:before,
[class*='yjsg-hr-'][class*='-right'].fa:before {
	left:auto;
	right:0px;
	margin-right:0;
	padding-right:0;
}
[class*='yjsg-hr-'][class*='-left-pull'], [class*='yjsg-hr-'][class*='-right-pull'] {
 max-width:100%;
}
[class*='-pull-small']:after {
	max-width:35%;
}
[class*='-pull-large']:after {
	max-width:75%;
}
[class*='-left-pull']:after {
	left:0;
}
[class*='-right-pull']:after {
	right:0;
}
/* typo buttons */
[class*='yjsg-button'] {
 margin-top:5px;
 -webkit-border-radius:4px;
 -khtml-border-radius:4px;
 -moz-border-radius:4px;
 border-radius:4px;
 display:inline-block;
 padding:6px 12px;
 vertical-align:middle;
 cursor:pointer;
 border:1px solid #ddd;
 height:auto;
 font-weight:400;
 background-color:#fff;
 color:#444;
}
[class*='yjsg-button-color'], [class*='yjsg-button-blue'], [class*='yjsg-button-red'], [class*='yjsg-button-green'], [class*='yjsg-button-yellow'], [class*='yjsg-button-dark'], [class*='yjsg-button-gray'], [class*='yjsg-button-color']:hover, [class*='yjsg-button-blue']:hover, [class*='yjsg-button-red']:hover, [class*='yjsg-button-green']:hover, [class*='yjsg-button-yellow']:hover, [class*='yjsg-button-dark']:hover, [class*='yjsg-button-gray']:hover {
 color:#fff;
 border-color:transparent;
}
[class*='yjsg-button-blue'] {
 background: #3598dc;
}
[class*='yjsg-button-blue']:hover {
	background: #2988c9;
}
[class*='yjsg-button-red'] {
 background: #e65d65;
}
[class*='yjsg-button-red']:hover {
	background: #d4555e;
}
[class*='yjsg-button-green'] {
 background: #00c3ab;
}
[class*='yjsg-button-green']:hover {
	background: #02b59f;
}
[class*='yjsg-button-yellow'] {
 background: #fac757;
}
[class*='yjsg-button-yellow']:hover {
	background: #f0bf56;
}
[class*='yjsg-button-dark'] {
 background: #4c4c4c;
}
[class*='yjsg-button-dark']:hover {
	background: #101010;
}
[class*='yjsg-button-gray'] {
 background: #c8c8c8;
}
[class*='yjsg-button-gray']:hover {
	background: #a0a0a0;
}
[class*='-blarge'] {
 padding: 10px 16px;
 font-size:120%;
 line-height: 1.33;
 -webkit-border-radius:6px;
 -khtml-border-radius:6px;
 -moz-border-radius:6px;
 border-radius:6px;
}
[class*='-bmedium'] {
 padding:8px 12px;
 font-size:110%;
 line-height: 1.33;
 -webkit-border-radius:5px;
 -khtml-border-radius:5px;
 -moz-border-radius:5px;
 border-radius:5px;
}
[class*='-bsmall'] {
 padding:4px 16px;
 font-size:90%;
 line-height: 1.33;
}
/* yjsg tips */
[data-yjsg-tip], .yjsg-tip {
 position: relative;
 cursor: pointer;
 text-align:center;
}
/*Default style*/
[data-yjsg-tip]:before,
[data-yjsg-tip]:after,
.yjsg-tip:before,
.yjsg-tip:after {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	-webkit-transform: scale(0.2);
	-moz-transform: scale(0.2);
	-o-transform: scale(0.2);
	-ms-transform: scale(0.2);
	transform: scale(0.2);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	pointer-events: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* Show tips */
[data-yjsg-tip]:hover:before,
[data-yjsg-tip]:hover:after,
[data-yjsg-tip]:focus:before,
[data-yjsg-tip]:focus:after,
.yjsg-tip:hover:before,
.yjsg-tip:hover:after,
.yjsg-tip:focus:before,
.yjsg-tip:focus:after {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
/* Arrows */
.yjsg-tip:before,
[data-yjsg-tip]:before {
	z-index: 1001;
	border: 6px solid transparent;
	background: transparent;
	content: "";
}
/* Tip content */
.yjsg-tip:after,
[data-yjsg-tip]:after {
	z-index: 1000;
	padding: 8px;
	width: 160px;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	content: attr(data-yjsg-tip);
	font-size: 14px;
	line-height: 1.618;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
/* Top (default) */
[data-yjsg-tip]:before,
[data-yjsg-tip]:after,
.yjsg-tip:before,
.yjsg-tip:after,
.yjsg-tip-top:before,
.yjsg-tip-top:after {
	bottom: 100%;
	left: 50%;
}
[data-yjsg-tip]:before,
.yjsg-tip:before,
.yjsg-tip-top:before {
	margin-left: -6px;
	margin-bottom: -11px;
	border-top-color: #000;
	border-top-color: rgba(0, 0, 0, 0.8);
}
/* Center tooltips */
[data-yjsg-tip]:after,
.yjsg-tip:after,
.yjsg-tip-top:after {
	margin-left: -80px;
}
[data-yjsg-tip]:hover:before,
[data-yjsg-tip]:hover:after,
[data-yjsg-tip]:focus:before,
[data-yjsg-tip]:focus:after,
.yjsg-tip:hover:before,
.yjsg-tip:hover:after,
.yjsg-tip:focus:before,
.yjsg-tip:focus:after,
.yjsg-tip-top:hover:before,
.yjsg-tip-top:hover:after,
.yjsg-tip-top:focus:before,
.yjsg-tip-top:focus:after {
	-webkit-transform: translateY(-12px);
	-moz-transform:    translateY(-12px);
	transform:         translateY(-12px);
}
/* Left */
.yjsg-tip-left:before,
.yjsg-tip-left:after {
	right: 100%;
	bottom: 50%;
	left: auto;
}
.yjsg-tip-left:before {
	margin-left: 0;
	margin-right: -11px;
	margin-bottom: 0;
	border-top-color: transparent;
	border-left-color: #000;
	border-left-color: rgba(0, 0, 0, 0.8);
}
.yjsg-tip-left:hover:before,
.yjsg-tip-left:hover:after,
.yjsg-tip-left:focus:before,
.yjsg-tip-left:focus:after {
	-webkit-transform: translateX(-12px);
	-moz-transform:    translateX(-12px);
	transform:         translateX(-12px);
}
/* Bottom */
.yjsg-tip-bottom:before,
.yjsg-tip-bottom:after {
	top: 100%;
	bottom: auto;
	left: 50%;
}
.yjsg-tip-bottom:before {
	margin-top: -11px;
	margin-bottom: 0;
	border-top-color: transparent;
	border-bottom-color: #000;
	border-bottom-color: rgba(0, 0, 0, 0.8);
}
.yjsg-tip-bottom:hover:before,
.yjsg-tip-bottom:hover:after,
.yjsg-tip-bottom:focus:before,
.yjsg-tip-bottom:focus:after {
	-webkit-transform: translateY(12px);
	-moz-transform:    translateY(12px);
	transform:         translateY(12px);
}
/* Right */
.yjsg-tip-right:before,
.yjsg-tip-right:after {
	bottom: 50%;
	left: 100%;
}
.yjsg-tip-right:before {
	margin-bottom: 0;
	margin-left: -11px;
	border-top-color: transparent;
	border-right-color: #000;
	border-right-color: rgba(0, 0, 0, 0.8);
}
.yjsg-tip-right:hover:before,
.yjsg-tip-right:hover:after,
.yjsg-tip-right:focus:before,
.yjsg-tip-right:focus:after {
	-webkit-transform: translateX(12px);
	-moz-transform:    translateX(12px);
	transform:         translateX(12px);
}
/* Align tips*/
.yjsg-tip-left:before,
.yjsg-tip-right:before {
	top: 8px;
}
.yjsg-tip-left:after,
.yjsg-tip-right:after {
	margin-left: 0;
	margin-bottom: -16px;
}
/* sticky element */
.yjsg-sticky.fixed {
	position:fixed;
	top:0;
	right:0;
	left:0;
	z-index:5000;
	display:none;
	padding:15px 0;
	background: rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 0px 2px rgba(0,0,0,0.18);
	-webkit-box-shadow: 0 0px 2px rgba(0,0,0,0.18);
	box-shadow: 0 0px 2px rgba(0,0,0,0.18);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* sticky menu */
.yjsg-sticky-menu {
	list-style:none;
	padding:0;
	margin:0;
}
.yjsg-sticky-menu li {
	display:inline-block;
	margin:0;
	padding:0;
	background:none;
}
.yjsg-sticky-menu li a {
	display:block;
	line-height:28px;
	padding:0;
	margin:0 10px 0 0;
}
.yjsg-sticky-menu a.active-scroll {
	border-bottom-width:2px;
	border-bottom-style:solid;
}
[data-sticky-block].fixed {
	width:240px;
	overflow:hidden;
	right:25px;
	left:auto;
	padding:15px;
}
/* sticky block menu */
[data-sticky-block] .inside-container {
	width:auto;
}
[data-sticky-block] ul li {
	display:block;
}
[data-sticky-block] ul li a {
	position:relative;
	margin:0;
}
[data-sticky-block] ul li a:before {
	position: absolute;
	display: block;
	content: '';
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #d4d4d4;
	top: 50%;
	margin-top: -3px;
	right: 1px;
}
[data-sticky-block] a.active-scroll {
	border:none;
}
[data-sticky-block] a.active-scroll:before {
	background: transparent;
	border-style:solid;
	border-width:2px;
	width: 6px;
	height: 6px;
	margin-top: -3px;
	right: 0;
}
/* IE < 9.0 notice*/
#ie6Warning {
	display:none;
	position:absolute;
	width:100%;
	height:180px;
	text-align:center;
	background:#FFC url(../../../../../plugins/system/yjsg/assets/images/typ/noie.png) no-repeat left center;
	font-size:18px;
	left:0px;
	top:-160px;
	z-index:99999
}
#ie6Warning .browsers {
	height:68px;
	width:390px;
	margin:0 auto;
	padding:5px 0 0 0;
	text-align:center;
	overflow:hidden
}
#ie6Warning #fox,
#ie6Warning #chrome,
#ie6Warning #ie8,
#ie6Warning #opera,
#ie6Warning #safari {
	height:68px;
	width:68px;
	float:left;
	line-height:999px;
	display:block;
	overflow:hidden;
	margin:0 10px 0 0;
	background-image:url(../../../../../plugins/system/yjsg/assets/images/typ/browsers.jpg)
}
#ie6Warning #chrome {
	background-position:272px top
}
#ie6Warning #ie8 {
	background-position:204px top
}
#ie6Warning #safari {
	background-position:136px top
}
#ie6Warning #opera {
	background-position:68px top
}
#ie6Warning h1 {
	font-size:22px;
	font-weight:normal;
	color:#121212;
	padding:0 30px;
	display:block;
	width:800px;
	margin:0 auto;
	text-align:center
}
#ie6Warning h4 {
	font-size:16px;
	font-weight:normal;
	color:#121212
}
#closeIe6Alert {
	display:block;
	position:absolute;
	z-index:99999;
	bottom:10px;
	right:10px;
	width:80px;
	height:28px;
	overflow:hidden;
	background-image:url(../../../../../plugins/system/yjsg/assets/images/typ/hide.jpg);
	line-height:999px;
	text-align:center
}
/* noscript notice */
p.nonscript {
	z-index:99999;
	background:#FFFFCC;
	font-size:15px;
	color:#121212;
	font-weight:bold;
	padding:20px 0;
	position:absolute;
	top:0;
	margin:0 0 50px 0;
	width:100%;
}
/* compiler error msg */
#compilerMsg {
	display:block;
	overflow:hidden;
	padding:15px;
	width:350px;
	background:#000;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	position:absolute;
	top:20px;
	left:0;
	color:#fff;
	z-index:10000;
}
/* code */
figure {
	margin: 0;
}
hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eeeeee;
}
code,
kbd,
pre,
samp {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
code {
	color: #c7254e;
	font-size: 12px;
	white-space: nowrap;
	padding: 0 4px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	background: #f8f8f8;
}
kbd {
	padding: 2px 4px;
	font-size: 90%;
	color: #ffffff;
	background-color: #333333;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.42857143;
	word-break: break-all;
	word-wrap: break-word;
	color: #333333;
	background-color: #f5f5f5;
	border: 1px solid #cccccc;
	border-radius: 4px;
}
pre code {
	padding: 0;
	font-size: inherit;
	color: inherit;
	white-space: pre-wrap;
	background-color: transparent;
	border-radius: 0;
}
.pre-scrollable {
	max-height: 340px;
	overflow-y: scroll;
}
.com {
	color: #93a1a1;
}
.lit {
	color: #195f91;
}
.pun,
.opn,
.clo {
	color: #93a1a1;
}
.fun {
	color: #dc322f;
}
.str,
.atv {
	color: #D14;
}
.kwd,
.prettyprint .tag {
	color: #1e347b;
}
.typ,
.atn,
.dec,
.var {
	color: teal;
}
.pln {
	color: #48484c;
}
.prettyprint {
	padding: 8px 0;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
}
.prettyprint.linenums {
	-webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
	-moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
	box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
	color: #AEAEAE;
	list-style:decimal;
	padding-left:40px;
}
ol.linenums li {
	padding:0 0 0 6px;
	color: #bebec5;
	line-height: 20px;
	text-shadow: 0 1px 0 #fff;
}
/* Joomla Tooltips */
.tip-wrap {
	z-index:1000;
}
.tip-wrap .tip {
	float: left;
	background: #000;
	border:none;
	padding: 5px;
	max-width: 200px;
	text-align:left;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.tip-wrap .tip-title {
	padding: 0;
	margin: 0;
	font-size:12px;
	font-weight: bold;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
	text-align:left;
	background:none;
	color:#fff;
}
.tip-wrap .tip-text {
	font-size:11px;
	margin: 0;
	text-align:left;
	color:#fff;
}
/* Magnific Popup CSS */
.mfp-bg {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5902;
	overflow: hidden;
	position: fixed;
	background: #0b0b0b;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.mfp-wrap {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5903;
	position: fixed;
	outline: none !important;
	-webkit-backface-visibility: hidden;
}
.mfp-container {
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding: 0 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.mfp-container:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.mfp-align-top .mfp-container:before {
	display: none;
}
.mfp-content {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	text-align: left;
	z-index: 5905;
}
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
	width: 100%;
	cursor: auto;
}
.mfp-ajax-cur {
	cursor: progress;
}
.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
	cursor: -moz-zoom-out;
	cursor: -webkit-zoom-out;
	cursor: zoom-out;
}
.mfp-zoom {
	cursor: pointer;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
}
.mfp-auto-cursor .mfp-content {
	cursor: auto;
}
.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.mfp-loading.mfp-figure {
	display: none;
}
.mfp-hide {
	display: none !important;
}
.mfp-preloader {
	color: #cccccc;
	position: absolute;
	top: 50%;
	width: auto;
	text-align: center;
	margin-top: -0.8em;
	left: 8px;
	right: 8px;
	z-index: 5904;
}
.mfp-preloader a {
	color: #cccccc;
}
.mfp-preloader a:hover {
	color: white;
}
.mfp-s-ready .mfp-preloader {
	display: none;
}
.mfp-s-error .mfp-content {
	display: none;
}
button.mfp-close,
button.mfp-arrow {
	overflow: visible;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	display: block;
	outline: none;
	padding: 0;
	z-index: 5906;
	-webkit-box-shadow: none;
	box-shadow: none;
}
button::-moz-focus-inner {
 padding: 0;
 border: 0;
}
.mfp-close {
	width: 44px;
	height: 44px;
	line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: 0.65;
	filter: alpha(opacity=65);
	padding: 0 0 18px 10px;
	color: white;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
}
.mfp-close:hover,
.mfp-close:focus {
	opacity: 1;
	filter: alpha(opacity=100);
}
.mfp-close:active {
	top: 1px;
}
.mfp-close-btn-in .mfp-close {
	color: #333333;
}
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
	color: white;
	right: -6px;
	text-align: right;
	padding-right: 6px;
	width: 100%;
}
.mfp-counter {
	position: absolute;
	top: 0;
	right: 0;
	color: #cccccc;
	font-size: 12px;
	line-height: 18px;
}
.mfp-arrow {
	position: absolute;
	opacity: 0.65;
	filter: alpha(opacity=65);
	margin: 0;
	top: 50%;
	margin-top: -55px;
	padding: 0;
	width: 90px;
	height: 110px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.mfp-arrow:active {
	margin-top: -54px;
}
.mfp-arrow:hover,
.mfp-arrow:focus {
	opacity: 1;
	filter: alpha(opacity=100);
}
.mfp-arrow:before,
.mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 35px;
	margin-left: 35px;
	border: medium inset transparent;
}
.mfp-arrow:after,
.mfp-arrow .mfp-a {
	border-top-width: 13px;
	border-bottom-width: 13px;
	top: 8px;
}
.mfp-arrow:before,
.mfp-arrow .mfp-b {
	border-top-width: 21px;
	border-bottom-width: 21px;
	opacity: 0.7;
}
.mfp-arrow-left {
	left: 0;
}
.mfp-arrow-left:after,
.mfp-arrow-left .mfp-a {
	border-right: 17px solid white;
	margin-left: 31px;
}
.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b {
	margin-left: 25px;
	border-right: 27px solid #3f3f3f;
}
.mfp-arrow-right {
	right: 0;
}
.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a {
	border-left: 17px solid white;
	margin-left: 39px;
}
.mfp-arrow-right:before,
.mfp-arrow-right .mfp-b {
	border-left: 27px solid #3f3f3f;
}
.mfp-iframe-holder {
	padding-top: 40px;
	padding-bottom: 40px;
}
.mfp-iframe-holder .mfp-content {
	line-height: 0;
	width: 100%;
	max-width: 900px;
}
.mfp-iframe-holder .mfp-close {
	top: -40px;
}
.mfp-iframe-scaler {
	width: 100%;
	height: 0;
	overflow: hidden;
	padding-top: 56.25%;
}
.mfp-iframe-scaler iframe {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	background: black;
}
/* Main image in popup */
img.mfp-img {
	width: auto;
	max-width: 100%;
	height: auto;
	display: block;
	line-height: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 40px 0 40px;
	margin: 0 auto;
}
/* The shadow behind the image */
.mfp-figure {
	line-height: 0;
}
.mfp-figure:after {
	content: '';
	position: absolute;
	left: 0;
	top: 40px;
	bottom: 40px;
	display: block;
	right: 0;
	width: auto;
	height: auto;
	z-index: -1;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	background: #444444;
}
.mfp-figure small {
	color: #bdbdbd;
	display: block;
	font-size: 12px;
	line-height: 14px;
}
.mfp-figure figure {
	margin: 0;
}
.mfp-bottom-bar {
	margin-top: -36px;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	cursor: auto;
}
.mfp-title {
	text-align: left;
	line-height: 18px;
	color: #f3f3f3;
	word-wrap: break-word;
	padding-right: 36px;
}
.mfp-image-holder .mfp-content {
	max-width: 100%;
}
.mfp-gallery .mfp-image-holder .mfp-figure {
	cursor: pointer;
}
/* fade */
/* overlay at start */
.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}
/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}
/* with zoom */
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0.001;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.mfp-with-zoom.mfp-ready .mfp-container {
	opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}
 @media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
/**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
	padding-left: 0;
	padding-right: 0;
}
.mfp-img-mobile img.mfp-img {
	padding: 0;
}
.mfp-img-mobile .mfp-figure:after {
	top: 0;
	bottom: 0;
}
.mfp-img-mobile .mfp-figure small {
	display: inline;
	margin-left: 5px;
}
.mfp-img-mobile .mfp-bottom-bar {
	background: rgba(0, 0, 0, 0.6);
	bottom: 0;
	margin: 0;
	top: auto;
	padding: 3px 5px;
	position: fixed;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.mfp-img-mobile .mfp-bottom-bar:empty {
	padding: 0;
}
.mfp-img-mobile .mfp-counter {
	right: 5px;
	top: 3px;
}
.mfp-img-mobile .mfp-close {
	top: 0;
	right: 0;
	width: 35px;
	height: 35px;
	line-height: 35px;
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	text-align: center;
	padding: 0;
}
}
 @media all and (max-width: 900px) {
.mfp-arrow {
	-webkit-transform: scale(0.75);
	transform: scale(0.75);
}
.mfp-arrow-left {
	-webkit-transform-origin: 0;
	transform-origin: 0;
}
.mfp-arrow-right {
	-webkit-transform-origin: 100%;
	transform-origin: 100%;
}
.mfp-container {
	padding-left: 6px;
	padding-right: 6px;
}
}
.mfp-ie7 .mfp-img {
	padding: 0;
}
.mfp-ie7 .mfp-bottom-bar {
	width: 600px;
	left: 50%;
	margin-left: -300px;
	margin-top: 5px;
	padding-bottom: 5px;
}
.mfp-ie7 .mfp-container {
	padding: 0;
}
.mfp-ie7 .mfp-content {
	padding-top: 44px;
}
.mfp-ie7 .mfp-close {
	top: 0;
	right: 0;
	padding-top: 0;
}
/* RTL */
.yjsgrtl .yjsg-text-left {
	text-align:right;
}
.yjsgrtl .yjsg-text-right {
	text-align:left;
}
.yjsgrtl .yjsg-pull-right,
.yjsgrtl .pull-right {
	float:left;
}
.yjsgrtl .yjtb_close {
	left:5px;
	right:auto;
}
.yjsgrtl .yjtboxicon:before {
	margin-right:0;
	margin-left:15px;
}
.yjsgrtl ul.star li:before,
.yjsgrtl ul.video li:before,
.yjsgrtl ul.check li:before {
	font-family:inherit;
	margin-right:0;
	content:"";
	color:inherit;
}
.yjsgrtl ul.star li:after,
.yjsgrtl ul.video li:after,
.yjsgrtl ul.check li:after {
	font-family:'FontAwesome';
	font-size:14px;
	margin-left:10px;
}
.yjsgrtl ul.star li:after {
	content:"\f005";
	color:#fc9220;
}
.yjsgrtl ul.video li:after {
	content:"\f03d";
	color:#323232;
}
.yjsgrtl ul.check li:after {
	content:"\f00c";
	color:#779c40;
}
.yjsgrtl .yjt_iconlist li {
	unicode-bidi: bidi-override;
}
.yjsgrtl .yjt_iconlist li:before {
	margin-right:0px;
	margin-left:10px;
}
.yjsgrtl .dropcap,
.yjsgrtl .dropcap2,
.yjsgrtl .dropcap3,
.yjsgrtl .dropcap4 {
	float:right;
	margin-right:0;
	margin-left:10px;
}
.yjsgrtl blockquote.quoted:before {
	top:auto;
	bottom:0px;
}
.yjsgrtl blockquote.quoted:after {
	top:0;
	bottom:auto;
}
.yjsgrtl blockquote.brackets:before {
	content: "\007D";
	top:auto;
	bottom:0px;
}
.yjsgrtl blockquote.brackets:after {
	content: "\007B";
	top:0;
	bottom:auto;
}
.tooltip {
	position:absolute;
	z-index:1020;
	display:block;
	visibility:visible;
	padding:5px;
	font-size:11px;
	opacity:0;
	filter:alpha(opacity=0);
}
.tooltip.in {
	opacity:.8;
	filter:alpha(opacity=80);
}
.tooltip.top {
	margin-top:-2px;
}
.tooltip.right {
	margin-left:2px;
}
.tooltip.bottom {
	margin-top:2px;
}
.tooltip.left {
	margin-left:-2px;
}
.tooltip.top .tooltip-arrow {
	bottom:0;
	left:50%;
	margin-left:-5px;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-top:5px solid #000;
}
.tooltip.left .tooltip-arrow {
	top:50%;
	right:0;
	margin-top:-5px;
	border-top:5px solid transparent;
	border-bottom:5px solid transparent;
	border-left:5px solid #000;
}
.tooltip.bottom .tooltip-arrow {
	top:0;
	left:50%;
	margin-left:-5px;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-bottom:5px solid #000;
}
.tooltip.right .tooltip-arrow {
	top:50%;
	left:0;
	margin-top:-5px;
	border-top:5px solid transparent;
	border-bottom:5px solid transparent;
	border-right:5px solid #000;
}
.tooltip-inner {
	max-width:200px;
	padding:3px 8px;
	color:#fff;
	text-align:center;
	text-decoration:none;
	background-color:#000;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
.tooltip-arrow {
	position:absolute;
	width:0;
	height:0;
}
/* popover */
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  -webkit-bg-clip: padding-box;
     -moz-bg-clip: padding;
}

.popover.top {
  margin-top: -10px;
}

.popover.right {
  margin-left: 10px;
}

.popover.bottom {
  margin-top: 10px;
}

.popover.left {
  margin-left: -10px;
}

.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}

.popover-content {
  padding: 9px 14px;
}

.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.popover .arrow {
  border-width: 11px;
}

.popover .arrow:after {
  border-width: 10px;
  content: "";
}

.popover.top .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999999;
  border-top-color: rgba(0, 0, 0, 0.25);
  border-bottom-width: 0;
}

.popover.top .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  border-top-color: #ffffff;
  border-bottom-width: 0;
  content: " ";
}

.popover.right .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999999;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-left-width: 0;
}

.popover.right .arrow:after {
  bottom: -10px;
  left: 1px;
  border-right-color: #ffffff;
  border-left-width: 0;
  content: " ";
}

.popover.bottom .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-top-width: 0;
}

.popover.bottom .arrow:after {
  top: 1px;
  margin-left: -10px;
  border-bottom-color: #ffffff;
  border-top-width: 0;
  content: " ";
}

.popover.left .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-left-color: #999999;
  border-left-color: rgba(0, 0, 0, 0.25);
  border-right-width: 0;
}

.popover.left .arrow:after {
  right: 1px;
  bottom: -10px;
  border-left-color: #ffffff;
  border-right-width: 0;
  content: " ";
}
.yjsg-round-progress,
[data-yjsg-round-progress]{
	height:150px;
	width:150px;
	color:#40b1e2;
	font-size:25px;
	font-family:'Calibri';
	border-top-color:#40b1e2;
	border-bottom-color:#ccc;
}
.bootstrap3 a.modal{
	display:inline;
	overflow:hidden;
	position:static;
}
.bootstrap3 .itemImage a.modal{
	display:block;
	overflow:hidden;
	position:static;
}
.bootstrap3 .control-group{
	float:left;
}
.bootstrap3 .hasPopover,
.bootstrapoff .hasPopover{
	display:block!important;
}