.calendar-form-control {  
    width:80%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

div.calendar table {width:100%}

.elg .loading-indicator{text-align:center}
.elg .pedy-form-data table th{font-size:smaller; border: 1px solid #ddd}
.elg .small-loader{background: url('../images/loader-small.gif') no-repeat center center; width:30px;height:30px}
.elg #elgdata table td{text-align:right}
.elg .elgdata tfoot td{text-align:right}
.elg #elgdata table thead td{text-align:center}

.elg .details-control span{ cursor: pointer;}
.elg div.committee-memo div.memo{float:left;width: 1em;height: 1em; margin:1ex;}
.elg div.missing-dates {margin-bottom: 5em;}
.elg div.missing-dates a span{cursor: pointer}
.elg p .comments-title{font-weight:bold; text-decoration:underline; display:block}

/** personel **/
table.personels-table tbody tr td:nth-child(1) span { cursor: pointer}
#personelDelete .modal-body p { text-align:center}
    
p.similar-links {margin-top: -10px; font-size: small; line-height: 1.5}
.text-danger .fa-arrow-circle-o-down, .text-danger .fa-arrow-circle-o-up {cursor: pointer; vertical-align: middle}

 /** select 2 **/
.elg  .edit-text{width:100%!important}

/** dental **/

.exTable button, .exTable a {
    display:block;
    text-align: center;
    
} 



.elg label {
    margin-left: 1ex;
}

.elg .dental-tools {
    margin-top: 1ex;
    margin-bottom:1ex;
}
fieldset.tooth-condition{
    margin-bottom:2em;
}
#dental_mouthcondition li input {
    margin-right:1em;
}
p.dental.text-info{
    margin-top: 1ex;
    font-size:small;
}

dl.dental-who{
    margin-bottom: 0;
}
.dental-who dt {
    font-weight: bold;
    float:left;
    width: 2em;
    text-align:right;
    
}
.dental-who dt:after {
    content: ":";
}

.dental-who dd {
    width:20em;
    margin-left:3em;
    
}

#area-type-container legend {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    display: inline-block;
    margin-bottom: 5px;
    border: none;
}

#isMaleContainer fieldset {
    padding-top:1em;  
}

#isMaleContainer label {
    margin-left: 1ex;
    margin-right: 1ex;
    padding-left: 0.5ex;
    margin-bottom: 2em;
    display: inline-block;
    float:left;
}


#isMaleContainer input {
    position: static;
    margin-left: 0.5ex;
    display:inline-block;
    float:left;
    width: 1em;
    clear:left;
}


.mouth-conditons ul {
    list-style-type: none;
}

.jaw>div {
    
    display:inline-block;
    
}
.jaw label {
    display:block;
    text-align:center;
    font-weight: bold;
}


td.calendar, th.calendar {
	min-width: 230px;
}


@media print {
    
    body {font-family: Georgia, serif;background: none; color: black;}
    div#topmenu_holder {display:none}
    div.footer_out {display: none}
    div#centertop{padding:1em;}
    h1{font-size:medium!important;}
    h2{font-size:medium!important}
    div#centerbottom{width:100%;margin:auto;padding:auto}
    
    .holders{padding-top:0!important}
    .glyphicon {display: none!important}
    .input-group-addon{ border-left:none!important}
    div.input-group input {border-right: none!important}
    div.elg{width:100%;margin: 0; padding: 0} 
   
    .elg div.committee-memo div.memo{width:1em!important;height:1em!important }
    table.personels-table { font-size: smaller}
    table.personels-table tbody tr td:nth-child(1),  table.personels-table theader tr th:nth-child(1) { display:none}
}
 

/** custom **/
.mouth-problems  label {
    margin-left:0 ;
    font-weight: bold;
}
.mouth-problems div.field-option-row input[type="radio"] {
    margin-left: 0px;
}

.igr  {
     border-bottom: 1px solid gray;     
}
.igr span {
    display: inline-block;
}
.igr .igrl {
    width:80%;
     font-size: x-small;
}
.igr .igrv {
    width: 20%;
}

.igr .igrv, .ingr {
    text-align: right;
}