.elg fieldset.selection{display:block;margin-top:30px;}
.elg fieldset button{margin: 20px 0 20px 0;padding:10px}
.elg fieldset.report{display:block;margin-top:60px;}
.elg div.duty-options{display:block;float:none;height:60px; margin:10px 0 10px 0}
.elg div.duty-options div {float:left;width:200px;}
