table.form { font-size: .923em; }

table.form caption { padding: 8px; font-weight: bold; letter-spacing: 1px; }

table.form td { padding: 0; }
table.form td:first-child { padding-right: 8px; padding-left: 8px; text-align: left; white-space: nowrap; }

table.form td,
table.form th { vertical-align: middle; font-weight: normal; text-align: center; }
table.form th[colspan] { font-weight: bold; }

table.form td input { -moz-box-sizing: border-box; box-sizing: border-box; -webkit-box-shadow: none; box-shadow: none; background: #fc9; border-radius: 0; border: 0; display: block; margin: 0; vertical-align: top; width: 100%; height: 26px; text-align: center; }
table.form td input:focus { -webkit-box-shadow: none; box-shadow: none; }
table.form td [disabled] { background: transparent; color: #fa7d00; font-weight: bold; }
table.form td [readonly] { background: #eee; }

table.form td:nth-child(2n+3),
table.form td:nth-last-child(-n+2),
table.form th:nth-child(2n+3),
table.form th:nth-last-child(-n+2),
table.form th[colspan] { border-right: 2px solid #ddd; }

table.form td:last-child,
table.form th:last-child { border-right: 0; }

table.form .bottom-border td { border-bottom: 2px solid #ddd; }

#costDataSection {background-image:url(../images/image_597959.gif);background-position: center; background-repeat: no-repeat; min-height:200px; }
.loader-hide{background-color: white}
#start_date{width:180px}