.elg select									{ width: 100%; }

.elg .big-buttons							{ display:table; margin-bottom: 1em; width: 100%; }
.elg .big-buttons .span4					{ display: table-cell; float: none; padding: .5em; vertical-align: middle; width: 33%; font-size: .923em; text-align: center; }
.elg .big-buttons .span4:first-child		{ padding-left: 0; }
.elg .big-buttons .span4:last-child			{ padding-right: 0; }
.elg .big-buttons .label					{ display: block; padding: 1em; white-space: normal; }

.elg .btn-group								{ margin-bottom: 10px; }
.elg .btn-group-vertical > .btn				{ width: 100%; }

.elg .datagrid-placeholder					{ display: block; width: 100%; min-height: 400px; background: #eee; }

#loading									{ background: rgba(255, 255, 255, .80); display: none; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 100; }
#loading:after								{ background: #fff url(../images/loading.gif) center no-repeat; border-radius: 12px; content: " "; width: 64px; height: 64px; position: absolute; top: 50%; left: 50%; margin: -32px 0 0 -32px; }
