.elg .bar{height: 18px;}
.elg .elg-left {float:left}
.elg-clear-fix{display: block; float: none; width:100%; clear:both; }


.elg .button-holder{text-align:right}
.elg .user-options .form-group {margin: 2px;width:45%; float:left; }
.elg .user-options div label {font-weight: bold }

.elg .file-list .file-item{padding-left:1em;}

.elg  table.uploadedfiles{ font-size: 11px;}
.elg  tbody.uploadedfiles{ font-size: 10px;}
.elg .uploadedfiles th {text-align:center}
.elg .number {text-align: right}
.elg .date{text-align: center}
#dropzone {
    background: palegreen;
    
    height: 100px;
    /**line-height: 50px; **/
    text-align: center;
    font-weight: bold;
    margin:20px auto;
    background-image: linear-gradient(to bottom, #62C462, #51A351); background-color: #5BB75B;
    color:#ffffff;
}
#dropzone.in {
    width: 600px;
    height: 200px;
    line-height: 200px;
    font-size: larger;
}
#dropzone.hover {
    background: lawngreen;
}
#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}
