.elg form							{ margin: 0; }

.elg .well .alert					{ margin-bottom: 0; }
.elg .well .alert h1				{ margin-top: 0; }

table.sum							{ font-size: .923em; }
table.sum td						{ padding-right: 0; padding-left: 0; width: 7%; text-align: center; white-space: nowrap; }
table.sum td:first-child			{ width: 16%; padding: 8px; font-weight: bold; text-align: left; }
table.sum th						{ text-align: center; }
table.sum tfoot td:last-child		{ text-align: right; }
table.sum .badge					{ font-size: 1em; text-shadow: none; }
table.sum .badge + .badge			{ margin-left: 4px; }
table.sum .badge-important[href]	{ background-color: #b94a48; }
table.sum .badge-success[href]		{ background-color: #468847; }

div.tab-content{background-image: url('../images/image_597959.gif'); background-position: center; background-repeat: no-repeat;min-height:80px}
div.tab-pane{background-color: white}