<?php
/*------------------------------------------------------------------------
# com_elgefimeries e-logism
# ------------------------------------------------------------------------
# author    e-logism
# copyright Copyright (C) 2013 e-logism.gr. All Rights Reserved.
# @license - GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
# Websites: http://www.e-logism.gr

----------------------------------**/
defined('_JEXEC') or die('Restricted access');
?>

<script type="text/javascript" src="media/com_elgefimeries/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="media/com_elgefimeries/js/locales/bootstrap-datetimepicker.el.js" ></script>
<div id="costDataSection">
    <form id="costForm">
       <input type="hidden" name="proelefsi" id="proelefsi" />
       <input type="hidden" id="token" name="" value="" />
        <div class="loader-hide">
            <div class="row-fluid" >
                <div class="span6">
                    <div class="row-fluid">
                        <div class="span4">Βαθμός Ιατρού:</div>
                        <div class="span8">
                            <select id="idVathmos" name="idVathmos">
                                <option value="[b.PK_Bathmoi]">[b.Bathmoi;block=option]</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="row-fluid">
                        <div class="span4">Ισχύς από:</div>
                        <div class="span8">
                            <input type="text" id="old_start_date" name="old_start_date" size="16" readonly="readonly" >
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span4">Νέα ισχύς από:</div>
                        <div class="input-append date span8 start_date" >
                            <input type="text" id="start_date" name="start_date" size="16" readonly >
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>

                    </div>

                    <div class="row-fluid">
                        <div class="span4">Βασικός Μισθός:</div>
                        <div class="span8"><input type="text" id="basicsalary" name="basicsalary" ></div>
                    </div>
                </div>

                <div class="span6">
                    <table class="form table table-condensed">
                        <caption>Υπολογισμός Ωρομισθίων</caption>
                        <tr>
                            <td>ΗΜΕΡΑ</td>
                            <td><input type="number"  id="indexhourlyDay" name="indexhourlyDay" ></td>

                            <td><input type="number" id="indexhourlyDayCalc" name="indexhourlyDayCalc" readonly></td>
                        </tr>
                        <tr>
                            <td>ΝΥΚΤΕΡΙΝΟ</td>
                            <td><input type="number" id="indexhourlyNight" name="indexhourlyNight"  ></td>

                            <td><input type="number"  id="indexhourlyNightCalc" name="indexhourlyNightCalc" readonly></td>
                        </tr>
                        <tr>
                            <td>ΝΥΚΤΕΡΙΝΟ ΑΡΓΙΑ</td>
                            <td><input type="number" id="indexhourlyNightArgia" name="indexhourlyNightArgia"  ></td>

                            <td><input type="number" id="indexhourlyNightArgiaCalc" name="indexhourlyNightArgiaCalc" readonly></td>
                        </tr>
                        <tr>
                            <td>ΗΜΕΡΑ ΑΡΓΙΑ</td>
                            <td><input type="number" id="indexhourlyDayArgia" name="indexhourlyDayArgia"  ></td>

                            <td><input type="number" id="indexhourlyDayArgiaCalc" name="indexhourlyDayArgiaCalc" readonly></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <table class="form table table-condensed">
                        <caption>ΕΝΕΡΓΕΙΣ</caption>
                        <tr>
                            <th>&nbsp;</th>
                            <th colspan="2">ΗΜΕΡΑ</th>
                            <th colspan="2">ΝΥΚΤΕΡΙΝΟ</th>
                            <th colspan="2">ΝΥΚΤΕΡΙΝΟ ΑΡΓΙΑ</th>
                            <th colspan="2">ΗΜΕΡΑ ΑΡΓΙΑ</th>
                            <th colspan="2">&nbsp;</th>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                            <th>ΩΡΕΣ</th>
                            <th>ΑΞΙΑ</th>
                            <th>ΩΡΕΣ</th>
                            <th>ΑΞΙΑ</th>
                            <th>ΩΡΕΣ</th>
                            <th>ΑΞΙΑ</th>
                            <th>ΩΡΕΣ</th>
                            <th>ΑΞΙΑ</th>
                            <th>ΠΡΟΣΘΕΤΗ</th>
                            <th>ΣΥΝΟΛΟ</th>
                        </tr>
                        <tr>
                            <td>ΚΑΘΗΜΕΡΙΝΗ</td>
                            <td><input type="number" id="EnergiDayFactor_1"  name="EnergiDayFactor_1" ></td>
                            <td><input type="number" disabled  id="EnergiDayFactor_1Calc" name="EnergiDayFactor_1Calc" ></td>
                            <td><input type="number" id="EnergiNightFactor_1" name="EnergiNightFactor_1" ></td>
                            <td><input type="number" disabled id="EnergiNightFactor_1Calc" name="EnergiNightFactor_1Calc" ></td>
                            <td><input type="number" id="EnergiNightArgiaFactor_1"  name="EnergiNightArgiaFactor_1" ></td>
                            <td><input type="number" disabled id="EnergiNightArgiaFactor_1Calc" name="EnergiNightArgiaFactor_1Calc" ></td>
                            <td><input type="number" id="EnergiDayArgiaFactor_1"  name="EnergiDayArgiaFactor_1" ></td>
                            <td><input type="number" disabled id="EnergiDayArgiaFactor_1Calc" name="EnergiDayArgiaFactor_1Calc"  ></td>
                            <td><input type="number"  id="EnergiAdditional_1" name="EnergiAdditional_1" ></td>
                            <td><input type="number" readonly id="EnergiAdditional_1Calc" name="EnergiAdditional_1Calc"  ></td>
                        </tr>
                        <tr>
                            <td>ΣΑΒΒΑΤΟ</td>
                            <td><input type="number" id="EnergiDayFactor_2"  name="EnergiDayFactor_2" ></td>
                            <td><input type="number" disabled  id="EnergiDayFactor_2Calc" name="EnergiDayFactor_2Calc"  ></td>
                            <td><input type="number" id="EnergiNightFactor_2"   name="EnergiNightFactor_2"  ></td>
                            <td><input type="number" disabled id="EnergiNightFactor_2Calc" name="EnergiNightFactor_2Calc" ></td>
                            <td><input type="number" id="EnergiNightArgiaFactor_2" name="EnergiNightArgiaFactor_2" ></td>
                            <td><input type="number" disabled id="EnergiNightArgiaFactor_2Calc" name="EnergiNightArgiaFactor_2Calc" ></td>
                            <td><input type="number" id="EnergiDayArgiaFactor_2"  name="EnergiDayArgiaFactor_2" ></td>
                            <td><input type="number" disabled  id="EnergiDayArgiaFactor_2Calc" name="EnergiDayArgiaFactor_2Calc"  ></td>
                            <td><input type="number" id="EnergiAdditional_2" name="EnergiAdditional_2" ></td>
                            <td><input type="number" readonly  id="EnergiAdditional_2Calc"  name="EnergiAdditional_2Calc"  ></td>
                        </tr>
                        <tr>
                            <td>ΚΥΡΙΑΚΗ / ΑΡΓΙΑ</td>
                            <td><input type="number" id="EnergiDayFactor_3" name="EnergiDayFactor_3"   ></td>
                            <td><input type="number" disabled id="EnergiDayFactor_3Calc" name="EnergiDayFactor_3Calc" ></td>
                            <td><input type="number" id="EnergiNightFactor_3" name="EnergiNightFactor_3" ></td>
                            <td><input type="number" disabled   id="EnergiNightFactor_3Calc" name="EnergiNightFactor_3Calc" ></td>
                            <td><input type="number" id="EnergiNightArgiaFactor_3" name="EnergiNightArgiaFactor_3" ></td>
                            <td><input type="number" disabled  id="EnergiNightArgiaFactor_3Calc" name="EnergiNightArgiaFactor_3Calc"  ></td>
                            <td><input type="number" id="EnergiDayArgiaFactor_3"  name="EnergiDayArgiaFactor_3" ></td>
                            <td><input type="number" disabled  id="EnergiDayArgiaFactor_3Calc" name="EnergiDayArgiaFactor_3Calc"></td>
                            <td><input type="number" id="EnergiAdditional_3" name="EnergiAdditional_3" ></td>
                            <td><input type="number" readonly  id="EnergiAdditional_3Calc" name="EnergiAdditional_3Calc" ></td>
                        </tr>
                        <tr>
                            <td>ΑΡΓΙΑ προς ΑΡΓΙΑ</td>
                            <td><input type="number" id="EnergiDayFactor_5" name="EnergiDayFactor_5" ></td>
                            <td><input type="number" disabled id="EnergiDayFactor_5Calc" name="EnergiDayFactor_5Calc" ></td>
                            <td><input type="number" id="EnergiNightFactor_5" name="EnergiNightFactor_5" ></td>
                            <td><input type="number" disabled   id="EnergiNightFactor_5Calc"  name="EnergiNightFactor_5Calc"  ></td>
                            <td><input type="number" id="EnergiNightArgiaFactor_5" name="EnergiNightArgiaFactor_5" ></td>
                            <td><input type="number" disabled  id="EnergiNightArgiaFactor_5Calc" name="EnergiNightArgiaFactor_5Calc" ></td>
                            <td><input type="number" id="EnergiDayArgiaFactor_5" name="EnergiDayArgiaFactor_5" ></td>
                            <td><input type="number" disabled  id="EnergiDayArgiaFactor_5Calc" name="EnergiDayArgiaFactor_5Calc" ></td>
                            <td><input type="number" id="EnergiAdditional_5" name="EnergiAdditional_5" ></td>
                            <td><input type="number" readonly id="EnergiAdditional_5Calc" name="EnergiAdditional_5Calc"  ></td>
                        </tr>
                        <tr class="bottom-border">
                            <td>ΠΑΡΑΜΟΝΗ ΑΡΓΙΑΣ</td>
                            <td><input type="number"  id="EnergiDayFactor_4" name="EnergiDayFactor_4"  ></td>
                            <td><input type="number" disabled id="EnergiDayFactor_4Calc" name="EnergiDayFactor_4Calc"  ></td>
                            <td><input type="number"  id="EnergiNightFactor_4"   name="EnergiNightFactor_4" ></td>
                            <td><input type="number" disabled id="EnergiNightFactor_4Calc"  name="EnergiNightFactor_4Calc" ></td>
                            <td><input type="number"  id="EnergiNightArgiaFactor_4"  name="EnergiNightArgiaFactor_4" ></td>
                            <td><input type="number" disabled id="EnergiNightArgiaFactor_4Calc" name="EnergiNightArgiaFactor_4Calc" ></td>
                            <td><input type="number" id="EnergiDayArgiaFactor_4"  name="EnergiDayArgiaFactor_4" ></td>
                            <td><input type="number" disabled id="EnergiDayArgiaFactor_4Calc" name="EnergiDayArgiaFactor_4Calc" ></td>
                            <td><input type="number"  id="EnergiAdditional_4" name="EnergiAdditional_4" ></td>
                            <td><input type="number" readonly id="EnergiAdditional_4Calc"  name="EnergiAdditional_4Calc"  ></td>
                        </tr>
                    </table>

                    <table class="form table table-condensed" style="width:40%">
                        <caption>ΕΤΟΙΜΟΤΗΤΑΣ</caption>
                        <tr>
                            <th colspan="2">&nbsp;</th>
                            <th>ΣΥΝΟΛΟ</th>
                        </tr>
                        <tr>
                            <td>ΚΑΘΗΜΕΡΙΝΗ</td>
                            <td><input type="number" id="ready_1" name="ready_1" ></td>
                            <td><input type="number" readonly id="ready_1Calc" name="ready_1Calc" ></td>
                        </tr>
                        <tr>
                            <td>ΣΑΒΒΑΤΟ</td>
                            <td><input type="number"  id="ready_2" name="ready_2" ></td>
                            <td><input type="number" readonly id="ready_2Calc" name="ready_2Calc" ></td>
                        </tr>
                        <tr>
                            <td>ΚΥΡΙΑΚΗ / ΑΡΓΙΑ</td>
                            <td><input type="number"  id="ready_3" name="ready_3" ></td>
                            <td><input type="number" readonly  id="ready_3Calc" name="ready_3Calc" ></td>
                        </tr>
                        <tr>
                            <td>ΑΡΓΙΑ προς ΑΡΓΙΑ</td>
                            <td><input type="number"  id="ready_5" name="ready_5" ></td>
                            <td><input type="number" readonly id="ready_5Calc" name="ready_5Calc" ></td>
                        </tr>
                        <tr class="bottom-border">
                            <td>ΠΑΡΑΜΟΝΗ ΑΡΓΙΑΣ</td>
                            <td><input type="number"  id="ready_4" name="ready_4" ></td>
                            <td><input type="number" readonly id="ready_4Calc" name="ready_4Calc" ></td>
                        </tr>
                    </table>

                    <table class="form table table-condensed">
                        <caption>ΜΙΚΤΕΣ</caption>
                        <tr>
                            <th>&nbsp;</th>
                            <th colspan="2">ΗΜΕΡΑ</th>
                            <th colspan="2">ΝΥΚΤΕΡΙΝΟ</th>
                            <th colspan="2">ΝΥΚΤΕΡΙΝΟ ΑΡΓΙΑ</th>
                            <th colspan="2">ΗΜΕΡΑ ΑΡΓΙΑ</th>
                            <th colspan="2">&nbsp;</th>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                            <th>ΩΡΕΣ</th>
                            <th>ΑΞΙΑ</th>
                            <th>ΩΡΕΣ</th>
                            <th>ΑΞΙΑ</th>
                            <th>ΩΡΕΣ</th>
                            <th>ΑΞΙΑ</th>
                            <th>ΩΡΕΣ</th>
                            <th>ΑΞΙΑ</th>
                            <th>ΠΡΟΣΘΕΤΗ</th>
                            <th>ΣΥΝΟΛΟ</th>
                        </tr>
                        <tr>
                            <td>ΚΑΘΗΜΕΡΙΝΗ</td>
                            <td><input type="number" id="MixedDayFactor_1" name="MixedDayFactor_1" ></td>
                            <td><input type="number" disabled id="MixedDayFactor_1Calc"  name="MixedDayFactor_1Calc"></td>
                            <td><input type="number" id="MixedNightFactor_1" name="MixedNightFactor_1"></td>
                            <td><input type="number" disabled id="MixedNightFactor_1Calc" name="MixedNightFactor_1Calc"></td>
                            <td><input type="number" id="MixedNightArgiaFactor_1"  name="MixedNightArgiaFactor_1"></td>
                            <td><input type="number" disabled id="MixedNightArgiaFactor_1Calc" name="MixedNightArgiaFactor_1Calc" ></td>
                            <td><input type="number" id="MixedDayArgiaFactor_1" name="MixedDayArgiaFactor_1" ></td>
                            <td><input type="number" disabled id="MixedDayArgiaFactor_1Calc" name="MixedDayArgiaFactor_1Calc" ></td>
                            <td><input type="number" id="MixedAdditional_1"  name="MixedAdditional_1" ></td>
                            <td><input type="number" readonly  id="MixedAdditional_1Calc" name="MixedAdditional_1Calc" ></td>
                        </tr>
                        <tr>
                            <td>ΣΑΒΒΑΤΟ</td>
                            <td><input type="number" id="MixedDayFactor_2" name="MixedDayFactor_2" ></td>
                            <td><input type="number" disabled  id="MixedDayFactor_2Calc" name="MixedDayFactor_2Calc" ></td>
                            <td><input type="number" id="MixedNightFactor_2" name="MixedNightFactor_2" ></td>
                            <td><input type="number" disabled id="MixedNightFactor_2Calc" name="MixedNightFactor_2Calc" ></td>
                            <td><input type="number" id="MixedNightArgiaFactor_2" name="MixedNightArgiaFactor_2" ></td>
                            <td><input type="number" disabled id="MixedNightArgiaFactor_2Calc" name="MixedNightArgiaFactor_2Calc" ></td>
                            <td><input type="number" id="MixedDayArgiaFactor_2" name="MixedDayArgiaFactor_2" ></td>
                            <td><input type="number" disabled id="MixedDayArgiaFactor_2Calc" name="MixedDayArgiaFactor_2Calc" ></td>
                            <td><input type="number" id="MixedAdditional_2" name="MixedAdditional_2" ></td>
                            <td><input type="number" readonly id="MixedAdditional_2Calc" name="MixedAdditional_2Calc" ></td>
                        </tr>
                        <tr>
                            <td>ΚΥΡΙΑΚΗ / ΑΡΓΙΑ</td>
                            <td><input type="number" id="MixedDayFactor_3" name="MixedDayFactor_3" ></td>
                            <td><input type="number" disabled  id="MixedDayFactor_3Calc" name="MixedDayFactor_3Calc" ></td>
                            <td><input type="number" id="MixedNightFactor_3" name="MixedNightFactor_3" ></td>
                            <td><input type="number" disabled  id="MixedNightFactor_3Calc" name="MixedNightFactor_3Calc" ></td>
                            <td><input type="number" id="MixedNightArgiaFactor_3" name="MixedNightArgiaFactor_3" ></td>
                            <td><input type="number" disabled  id="MixedNightArgiaFactor_3Calc" name="MixedNightArgiaFactor_3Calc" ></td>
                            <td><input type="number" id="MixedDayArgiaFactor_3" name="MixedDayArgiaFactor_3" ></td>
                            <td><input type="number" disabled  id="MixedDayArgiaFactor_3Calc" name="MixedDayArgiaFactor_3Calc" ></td>
                            <td><input type="number" id="MixedAdditional_3" name="MixedAdditional_3" ></td>
                            <td><input type="number" readonly  id="MixedAdditional_3Calc" name="MixedAdditional_3Calc" ></td>
                        </tr>
                        <tr>
                            <td>ΑΡΓΙΑ προς ΑΡΓΙΑ</td>
                            <td><input type="number"  id="MixedDayFactor_5" name="MixedDayFactor_5" ></td>
                            <td><input type="number" disabled   id="MixedDayFactor_5Calc" name="MixedDayFactor_5Calc" ></td>
                            <td><input type="number" id="MixedNightFactor_5" name="MixedNightFactor_5" ></td>
                            <td><input type="number" disabled  id="MixedNightFactor_5Calc" name="MixedNightFactor_5Calc" ></td>
                            <td><input type="number" id="MixedNightArgiaFactor_5" name="MixedNightArgiaFactor_5" ></td>
                            <td><input type="number" disabled  id="MixedNightArgiaFactor_5Calc" name="MixedNightArgiaFactor_5Calc" ></td>
                            <td><input type="number" id="MixedDayArgiaFactor_5" name="MixedDayArgiaFactor_5" ></td>
                            <td><input type="number" disabled id="MixedDayArgiaFactor_5Calc" name="MixedDayArgiaFactor_5Calc" ></td>
                            <td><input type="number" id="MixedAdditional_5" name="MixedAdditional_5" ></td>
                            <td><input type="number" readonly  id="MixedAdditional_5Calc" name="MixedAdditional_5Calc" ></td>
                        </tr>
                        <tr class="bottom-border">
                            <td>ΠΑΡΑΜΟΝΗ ΑΡΓΙΑΣ</td>
                            <td><input type="number" id="MixedDayFactor_4" name="MixedDayFactor_4" ></td>
                            <td><input type="number" disabled id="MixedDayFactor_4Calc" name="MixedDayFactor_4Calc" ></td>
                            <td><input type="number" id="MixedNightFactor_4" name="MixedNightFactor_4" ></td>
                            <td><input type="number" disabled id="MixedNightFactor_4Calc" name="MixedNightFactor_4Calc" ></td>
                            <td><input type="number" id="MixedNightArgiaFactor_4" name="MixedNightArgiaFactor_4" ></td>
                            <td><input type="number" disabled id="MixedNightArgiaFactor_4Calc" name="MixedNightArgiaFactor_4Calc" ></td>
                            <td><input type="number" id="MixedDayArgiaFactor_4" name="MixedDayArgiaFactor_4" ></td>
                            <td><input type="number" disabled id="MixedDayArgiaFactor_4Calc" name="MixedDayArgiaFactor_4Calc" ></td>
                            <td><input type="number" id="MixedAdditional_4" name="MixedAdditional_4" ></td>
                            <td><input type="number" readonly id="MixedAdditional_4Calc" name="MixedAdditional_4Calc" ></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row-fluid">
              
                <div class="span12">
                    <button class="btn btn-primary pull-right" type="button" disabled="disabled" id="submitData" >ΚΑΤΑΧΩΡΙΣΗ</button>
                </div>
            </div>
        </div>
    </form>
</div>
