<?php
/*------------------------------------------------------------------------
# com_elgefimeries e-logism
# ------------------------------------------------------------------------
# author    e-logism
# copyright Copyright (C) 2013 e-logism.gr. All Rights Reserved.
# @license - GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
# Websites: http://www.e-logism.gr
 
----------------------------------**/
    defined('_JEXEC') or die('Restricted access');
	require JPATH_COMPONENT_SITE . '/libraries/tbs/tbs_class.php';
?>

<tbody>
	<tr>
		<td>[b.Hospital;block=tr]</td>
		<td>[b.UploadDate;frm=dd/mm/yyyy]</td>
		<td>[b.UploadFileName]</td>
	</tr>
</tbody>